.site{
    display: inline-flex;
    margin-left: 20%;
}
.login{
    margin-top: 50px;
    margin-bottom: 50%;
    margin-left: 50px;
    border: 1px;
    border-style: solid;
    padding: 70px;
}
button{
    cursor: pointer;
    padding: 6px;
    border: none;
    color: white;
    background-color: #0095f6;
    width: 110%;
}
.inputs{
    margin-bottom: 3%;
    padding: 6px;
    width: 100%;
}
#facebook{
    color: #385185;
}
#log{
    font-weight: bold;
    cursor: pointer;
    margin-left: 25px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #385185;
}
img{
    margin-bottom: 20px;
}
.conta{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 420px;
    margin-left: 52%;
    margin-top: -400px;
    padding: 20px;
    border: 1px solid ;
    display: flex;
}
.conta a{
    margin-left: 5px;
    text-decoration: none;
    color: #0095f6;
}